@charset "UTF-8";
/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: local(※), url(../fonts/Pretendard/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Thin.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local(※), url(../fonts/Pretendard/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local(※), url(../fonts/Pretendard/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: local(※), url(../fonts/Pretendard/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local(※), url(../fonts/Pretendard/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Bold.woff) format("woff");
}
/* Oswald */
@font-face {
  font-family: "Oswald";
  font-weight: 300;
  src: local(※), url(../fonts/Oswald/Oswald-Light.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: local(※), url(../fonts/Oswald/Oswald-Regular.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: local(※), url(../fonts/Oswald/Oswald-Medium.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: local(※), url(../fonts/Oswald/Oswald-Bold.woff) format("woff");
}
/* reset */
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #fff;
  background-color: #0082C9;
}

::selection {
  color: #fff;
  background-color: #0082C9;
}

body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 0;
}

.row {
  max-width: 1400px;
  margin: 0 auto;
}

.wrap {
  overflow: hidden;
  font-family: "Pretendard";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

/* common */
.mo {
  background: #f1f1f1;
}

.mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 436px;
  height: 878px;
  transform: translate(-50%, -50%);
  background: url(../images/m/mockup.png) no-repeat center top;
  background-size: contain;
}

.mo-content {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 107px;
  left: 31px;
  width: 375px;
  height: 666px;
  color: #fff;
  background: #101111;
}

.mobox {
  position: relative;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.4s ease;
}

.btn-top {
  position: absolute;
  bottom: 97px;
  right: 20px;
  width: 39px;
  height: 39px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 3.25px;
  transition: all 0.5s;
}

.btn-top span {
  position: relative;
  display: inline-block;
  padding-top: 11px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 10px;
  font-family: "Oswald";
  font-weight: 600;
  transition: all 0.5s;
}

.btn-top span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 7px;
  height: 4px;
  margin-left: -3.5px;
  background: url(../images/icon_arrow-top.svg);
  transition: all 0.5s;
}

.btn-top:hover {
  border-color: #A5684C;
}

.btn-top:hover span {
  color: #A5684C;
}

.btn-top:hover span::before {
  background: url(../images/icon_arrow-top-on.svg);
}/*# sourceMappingURL=mobile.css.map */