@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, span, input, textarea, select, button, th, td, blockquote, h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

ul, ol, li {
  list-style: none;
}

a {
  color: inherit;
  vertical-align: top;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.blind {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

button {
  display: inline-block;
  color: inherit;
  border: 0 none;
  background: transparent;
  font: inherit;
  cursor: pointer;
  outline: none;
}

input, select, textarea {
  font: inherit;
  border: 0 none;
  background: transparent;
  outline: none;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.tal {
  text-align: left !important;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: local(※), url(../fonts/Pretendard/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Thin.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local(※), url(../fonts/Pretendard/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local(※), url(../fonts/Pretendard/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: local(※), url(../fonts/Pretendard/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local(※), url(../fonts/Pretendard/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard/Pretendard-Bold.woff) format("woff");
}
/* Oswald */
@font-face {
  font-family: "Oswald";
  font-weight: 300;
  src: local(※), url(../fonts/Oswald/Oswald-Light.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: local(※), url(../fonts/Oswald/Oswald-Regular.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: local(※), url(../fonts/Oswald/Oswald-Medium.woff) format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: local(※), url(../fonts/Oswald/Oswald-Bold.woff) format("woff");
}
::-moz-selection {
  background-color: #F26521;
}
::selection {
  background-color: #F26521;
}

body {
  color: #232730;
  font-family: "Oswald", "Pretendard";
  font-size: 16px;
  font-weight: 400;
  -webkit-text-size-adjust: none;
}
body::-webkit-scrollbar {
  display: none;
}

.wrap {
  overflow: hidden;
}

.row {
  max-width: 1400px;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.loading__panel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: calc(50% + 1px);
  height: 100%;
  background-color: #000;
  transition: transform 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s;
}
.loading__panel--left {
  left: 0;
  justify-content: flex-end;
  padding-right: 6.25vw;
}
.loading__panel--right {
  right: 0;
  padding-left: 6.25vw;
}
.loading__panel span {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
.loading.on {
  left: 200vw;
  transition: left 0s 1.4s;
}
.on .loading__panel--left {
  transform: translate(-100%, 0);
}
.on .loading__panel--right {
  transform: translate(100%, 0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 50;
  transition: transform 0.4s ease-out;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.02);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
.header.nav-up {
  transform: translateY(-100%);
}

.btn-more {
  margin-top: 55px;
  padding: 17px 31px;
  color: #fff;
  border-radius: 50px;
  background-color: #232730;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.4s ease-out;
}
.btn-more:hover {
  background-color: #F26521;
}

.neonbtn {
  position: relative;
}
.neonbtn::before, .neonbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #F26521;
}
.neonbtn::before {
  width: 0;
  height: 1px;
}
.neonbtn::after {
  width: 1px;
  height: 0;
}
.neonbtn:hover::before {
  width: 100%;
  box-shadow: 0px 0px 10px #F26521;
  transition: width 0.4s ease-out;
}
.neonbtn:hover::after {
  height: 100%;
  box-shadow: 0px 0px 10px #F26521;
  transition: height 0.4s ease-out;
}

.btn-arrow {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(35, 39, 48, 0.1);
  /*&::before {
      content:'';
      position:absolute;
      top:50%;
      left:50%;
      width:16px;
      height:9px;
      margin-top:-4px;
      margin-left:-8px;
      background-repeat:no-repeat;
      background-position:center;
      background-size:16px 9px;
  }
  &--up {
      &::before {
          background-image:url(../images/icon_arrow-up.svg);
      }
  }
  &--down {
      &::before {
          background-image:url(../images/icon_arrow-down.svg);
      }
  }*/
}
.btn-arrow::before, .btn-arrow::after {
  content: "";
  position: absolute;
  background: #F26521;
}
.btn-arrow:before {
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
}
.btn-arrow::after {
  right: -1px;
  top: 0;
  width: 1px;
  height: 0;
}
.btn-arrow:hover::before {
  width: calc(100% + 1px);
  box-shadow: 0px 0px 10px #F26521;
  transition: width 0.4s ease-out 0.4s;
}
.btn-arrow:hover::after {
  height: calc(100% + 1px);
  box-shadow: 0px 0px 10px #F26521;
  transition: height 0.4s ease-out 0.4s;
}
.btn-arrow--dark {
  border-color: rgba(255, 255, 255, 0.2);
  /*&.btn-arrow--up::before {
      background-image:url(../images/icon_arrow-white-up.svg);
  }
  &.btn-arrow--down::before {
      background-image:url(../images/icon_arrow-white-down.svg);
  }*/
}

.gnb {
  flex: 1;
}

.logo {
  flex-basis: 235px;
  cursor: pointer;
}

.section {
  position: relative;
}

.main-visual {
  position: relative;
  background: #aaa;
}
.main-visual__bg {
  height: 100vh;
  text-align: center;
}
.main-visual__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.main-visual__contents {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.main-visual__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.main-visual__call, .main-visual .preview {
  flex-basis: 530px;
}
.main-visual__call {
  align-self: flex-end;
}
.main-visual.start .main-visual__contents {
  opacity: 1;
}
.main-visual.start .main-visual__bottom {
  opacity: 1;
}

.pager {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pager span {
  display: inline-block;
}
.pager__current, .pager__full {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.pager__full {
  opacity: 0.4;
}
.pager__progress {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
}
.pager__percent {
  position: absolute;
  width: 0;
  left: 0;
  opacity: 0;
  height: 2px;
  background: #fff;
  z-index: 1;
}
.pager__percent.active {
  opacity: 1;
  transition: width ease-out;
  transition-delay: unset;
  width: 100%;
  transition-duration: 3s;
}

.preview {
  display: flex;
  gap: 10px;
}
.preview > li {
  position: relative;
  width: 80px;
  height: 45px;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.preview > li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/border.png) no-repeat center;
  opacity: 0;
}
.preview > li.active::after {
  opacity: 1;
}

.floor {
  position: relative;
  text-align: center;
}
.floor__inner {
  position: relative;
  padding: 160px 50px 120px;
  background: #fff;
}
.floor__inner--dark {
  color: #fff;
  background: #000;
}
.floor__inner--dark .floor__num::before, .floor__inner--dark .floor__num::after {
  background-image: url(../images/icon_star-white.svg);
}
.floor__inner--dark .floor__visual::after {
  background: linear-gradient(180deg, #15171D 8%, rgba(21, 23, 29, 0) 47.41%);
}
.floor__heading {
  margin-bottom: 90px;
}
.floor__num {
  display: inline-block;
  position: relative;
  padding: 0 35px;
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
}
.floor__num::before, .floor__num::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 11px;
  height: 11px;
  margin-top: -5px;
  background: url(../images/icon_star.svg) no-repeat center;
  background-size: 11px;
}
.floor__num::before {
  left: 7px;
}
.floor__num::after {
  right: 7px;
}
.floor__title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.floor__content {
  position: relative;
  z-index: 1;
}
.floor__slogan span {
  display: block;
  font-size: 180px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
.floor__description {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
}
.floor__visual {
  overflow: hidden;
  position: relative;
  width: 450px;
  height: 812px;
  margin: -150px auto 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: width 0.4s ease-out;
}
.floor__visual span {
  display: block;
  transition: width 0.4s ease-out;
}
.floor__visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFFFFF 8.37%, rgba(255, 255, 255, 0) 49.94%);
}
.floor__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.floor__bg {
  min-height: 100vh;
  background: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-elevator__contents {
  padding: 200px 0;
}
.main-elevator.on .floor__visual span {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 25%;
  margin: 0 auto;
  overflow: hidden;
}

.elevator-type__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.elevator-type__title {
  color: #232730;
  font-size: 84px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
.elevator-type__list {
  overflow: visible;
}
.elevator-type__list .swiper-slide {
  max-width: 415px;
}

.main-tech {
  padding: 160px 0;
  background-color: #fff;
}
.main-tech__contents {
  position: relative;
}
.main-tech__slider {
  margin-top: 80px;
  overflow: hidden;
}
.main-tech__indicator {
  display: flex;
  gap: 50px;
  position: absolute;
  left: 60px;
  right: 60px;
  bottom: 55px;
  color: #fff;
  z-index: 1;
}
.main-tech__indicator > li {
  flex: 1;
  gap: 50px;
  font-size: 20px;
  font-weight: 700;
}
.main-tech__indicator > li.active .main-tech__item {
  opacity: 1;
}
.main-tech__indicator > li.active .main-tech__bar::after {
  width: 100%;
  transition: width ease-out;
  transition-delay: unset;
  transition-duration: 3s;
}
.main-tech__bar {
  position: relative;
}
.main-tech__bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0.4;
}
.main-tech__bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  opacity: 1;
}
.main-tech__item {
  margin-top: 25px;
  opacity: 0.4;
  transition: color 0.4s ease-out;
}

.main-press {
  padding: 160px 0;
  background-color: #fafafa;
}
.main-press__list {
  margin-top: 80px;
}
.main-press__list > li {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
.main-press__list > li ~ li {
  margin-top: 25px;
}

.main-bottom {
  padding: 140px 0 120px;
  background: #232730;
}
.main-bottom__list {
  display: flex;
  gap: 30px;
}
.main-bottom__list > li {
  flex: 1;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.main-bottom__list > li:hover .main-bottom__hover {
  height: 100%;
  transform: scale(1.1);
}
.main-bottom__item {
  display: flex;
  gap: 35px;
  justify-content: space-between;
}
.main-bottom__thumbnail {
  position: relative;
  flex-basis: 320px;
  height: 465px;
  overflow: hidden;
}
.main-bottom__visual {
  position: relative;
  mix-blend-mode: luminosity;
  opacity: 0.8;
}
.main-bottom__hover {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  transition: height 0.4s ease-out;
}
.main-bottom__contents {
  align-self: flex-end;
}

.icon {
  display: inline-block;
}
.icon--arrow-up {
  width: 16px;
  height: 9px;
  background: url(../images/icon_arrow-up.svg) no-repeat;
  background-size: 16px 9px;
}
.icon--arrow-down {
  width: 16px;
  height: 9px;
  background: url(../images/icon_arrow-down.svg) no-repeat;
  background-size: 16px 9px;
}

.btn-arrow--dark .icon--arrow-up {
  background-image: url(../images/icon_arrow-white-up.svg);
}
.btn-arrow--dark .icon--arrow-down {
  background-image: url(../images/icon_arrow-white-down.svg);
}/*# sourceMappingURL=style.css.map */